@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@font-face {
    font-family: "ALS Sector Bold Bold";
    src: url(../fonts/Als_bold.woff2);
}

@font-face {
    font-family: "ALS Sector Regular";
    src: url(../fonts/Als_regular.woff2);
}

