<section class="about">
    <div class="wrapper wrapper--about">
        <img class="about__circle1 about__circle1--1" src="./images/svg/circle3.svg" alt="circle">
        <img class="about__circle1 about__circle1--2" src="./images/svg/circle3.svg" alt="circle">
        <img class="about__circle1 about__circle1--3" src="./images/svg/circle3.svg" alt="circle">
        <img class="about__circle1 about__circle1--4" src="./images/svg/circle3.svg" alt="circle">
        <img class="about__circle1 about__circle1--5" src="./images/svg/circle3.svg" alt="circle">
        <img class="about__circle2 about__circle2--1" src="./images/svg/circle4.svg" alt="circle">
        <img class="about__circle2 about__circle2--2" src="./images/svg/circle4.svg" alt="circle">
        <img class="about__wind" src="./images/other/wind.png" alt="wind">
        <img class="about__circle3" src="./images/svg/circle5.svg" alt="circle">
        <img class="about__circle4" src="./images/svg/circle6.svg" alt="circle">
        <img class="about__comet" src="./images/svg/comet.svg" alt="comet">
        <img class="about__planet" src="./images/other/planet3.png" alt="planet">
        <h2 class="about__title title">ОБО МНЕ</h2>
        <article class="about__box wrapper-block">
            <div class="about__left">
                <p class="about__text">Меня зовут Костя. Я преподаю программирование.</p>
                <p class="about__text">Мне нравится тратить деньги, но не зарабатывать их.</p>
                <button class="about__button">Мои навыки</button>
            </div>
            <div class="about__right">
                <div class="about__upper">
                    <div class="about__circle about__circle--orange"></div>
                    <div class="about__circle about__circle--yellow"></div>
                    <div class="about__circle about__circle--green"></div>
                </div>
                <img class="about__avatar" src="./images/other/avatar.jpg" alt="avatar">
                <ul class="about__list">
                    <li>
                        <dl class="about__item">
                            <dt class="about__label">Где живу:</dt>
                            <dd class="about__value">Минск</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="about__item">
                            <dt class="about__label">Возраст:</dt>
                            <dd class="about__value">22</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="about__item">
                            <dt class="about__label">Дата рождения:</dt>
                            <dd class="about__value">08.12.2001</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>