<section class="feedback">
    <div class="wrapper wrappper--feedback">
        <img class="feedback__circle1 feedback__circle1--1" src="./images/svg/circle7.svg" alt="circle">
        <img class="feedback__circle1 feedback__circle1--2" src="./images/svg/circle7.svg" alt="circle">
        <img class="feedback__circle2 feedback__circle2--1" src="./images/svg/circle8.svg" alt="circle">
        <img class="feedback__circle2 feedback__circle2--2" src="./images/svg/circle8.svg" alt="circle">
        <img class="feedback__circle2 feedback__circle2--3" src="./images/svg/circle8.svg" alt="circle">
        <img class="feedback__circle2 feedback__circle2--4" src="./images/svg/circle8.svg" alt="circle">
        <img class="feedback__comet feedback__comet--1" src="./images/svg/comet1.svg" alt="comet">
        <img class="feedback__comet feedback__comet--2" src="./images/svg/comet1.svg" alt="comet">
        <img class="feedback__planet" src="./images/other/planet5.png" alt="planet">
        <h2 class="title">ОТЗЫВЫ</h2>
        <div class="feedback__box">
            <article class="feedback__block">
                <div class="feedback__human">
                    <div class="feedback__circlebox">
                        <div class="main__circle--orange feedback__circle"></div>
                        <div class="main__circle--yellow feedback__circle"></div>
                        <div class="main__circle--green feedback__circle"></div>
                    </div>
                    <img class="feedback__avatar" src="./images/other/human1.jpg" alt="human">
                    <h3 class="feedback__name">Даниил</h3>
                    <p class="feedback__text">Преподаватель Rocket Tech School</p>
                </div>
                <div class="feedback__message">
                    <div class="feedback__rectangle--message"></div>
                    <div class="feedback__rectangle"></div>
                    <p class="feedback__user-message">
                        Ты до сих пор не сдал квал по вебу?????
                    </p>
                </div>
            </article>
            <article class="feedback__block">
                <div class="feedback__human">
                    <div class="feedback__circlebox">
                        <div class="main__circle--orange feedback__circle"></div>
                        <div class="main__circle--yellow feedback__circle"></div>
                        <div class="main__circle--green feedback__circle"></div>
                    </div>
                    <img class="feedback__avatar" src="./images/other/human2.jpg" alt="human">
                    <h3 class="feedback__name">Анна</h3>
                    <p class="feedback__text">Моя девушка</p>
                </div>
                <div class="feedback__message">
                    <div class="feedback__rectangle--message"></div>
                    <div class="feedback__rectangle"></div>
                    <p class="feedback__user-message">
                        Боже, скорее сдавай квал! Нам надо кушать!
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>