<section class="main">
    <div class="wrapper">
        <img class="main__circle1 main__circle1--1" src="./images/svg/circle1.svg" alt="circle">
        <img class="main__circle1 main__circle1--2" src="./images/svg/circle1.svg" alt="circle">
        <img class="main__circle1 main__circle1--3" src="./images/svg/circle1.svg" alt="circle">
        <img class="main__circle1 main__circle1--4" src="./images/svg/circle1.svg" alt="circle">
        <img class="main__circle1 main__circle1--5" src="./images/svg/circle1.svg" alt="circle">
        <img class="main__planet" src="./images/other/planet.png" alt="planet">
        <img class="main__circle2 main__circle2--1" src="./images/svg/circle2.svg" alt="circle">
        <img class="main__circle2 main__circle2--2" src="./images/svg/circle2.svg" alt="circle">
        <img class="main__planet2" src="./images/other/planet2.png" alt="planet">
        <img class="main__comet" src="./images/other/comet2.png" alt="comet">
        <img class="main__comet2" src="./images/other/comet2.png" alt="comet">
        <header class="main__header">
            <span class="main__logo">DK</span>
            <div class="burger">
                <button class="burger__button">
                    <span class="burger__line burger__line--1"></span>
                    <span class="burger__line burger__line--2"></span>
                    <span class="burger__line burger__line--3"></span>
                </button>
                <nav class="burger__nav">
                    <span class="main__logo main__logo--burger">DK</span>
                    <ul class="main__list main__list--burger">
                        <li data-anchor="main" class="main__item main__item--burger">Главная</li>
                        <li data-anchor="about" class="main__item main__item--burger">Обо мне</li>
                        <li data-anchor="skill" class="main__item main__item--burger">Навыки</li>
                        <li data-anchor="works" class="main__item main__item--burger">Работы</li>
                        <li data-anchor="feedback" class="main__item main__item--burger">Отзывы</li>
                    </ul>
                </nav>
            </div>
            <nav class="main__nav">
                <ul class="main__list">
                    <li data-anchor="main" class="main__item main__item--desktop main__item--active">Главная</li>
                    <li data-anchor="about" class="main__item main__item--desktop">Обо мне</li>
                    <li data-anchor="skill" class="main__item main__item--desktop">Навыки</li>
                    <li data-anchor="works" class="main__item main__item--desktop">Работы</li>
                    <li data-anchor="feedback" class="main__item main__item--desktop">Отзывы</li>
                </ul>
            </nav>
        </header>
        <div class="wrapper-box wrapper-block">
            <div class="main__box">
                <img class="main__box-image" src="./images/other/human.png" alt="human">
                <div class="main__upper">
                    <div class="main__circle main__circle--orange"></div>
                    <div class="main__circle main__circle--yellow"></div>
                    <div class="main__circle main__circle--green"></div>
                </div>
                <div class="main__center">
                    <h1 class="main__title">ДИАНА КОРНИГОР</h1>
                    <p class="main__sub">личный сайт веб разработчика</p>
                </div>
            </div>
            <button class="main__button">Подробнее</button>
        </div>
    </div>
</section>