<section class="skill">
    <div class="wrapper wrappper--skill">
        <img class="skill__circle1" src="./images/svg/circle7.svg" alt="circle">
        <img class="skill__circle2" src="./images/svg/circle8.svg" alt="circle">
        <img class="skill__comet skill__comet--1" src="./images/svg/comet1.svg" alt="comet">
        <img class="skill__comet skill__comet--2" src="./images/svg/comet1.svg" alt="comet">
        <img class="skill__comet skill__comet--3" src="./images/svg/comet1.svg" alt="comet">
        <img class="skill__planet1" src="./images/other/planet4.png" alt="planet">
        <img class="skill__planet2" src="./images/other/planet5.png" alt="planet">
        <h2 class="title">НАВЫКИ</h2>
        <div class="skill__box">
            <div class="skill__upper">
                <div class="main__circle main__circle--orange skill__circle"></div>
                <div class="main__circle main__circle--yellow skill__circle"></div>
                <div class="main__circle main__circle--green skill__circle"></div>
            </div>
            <div class="skill__center">
                <p class="skill__paragraph">ЭТОТ САЙТ Я СДЕЛАЛА В РАМКАХ ОБУЧЕНИЯ ШКОЛЫ ROCKET TECH SCHOOL</p>
                <div class="skill__imageBox">
                    <img class="skill__image" src="./images/other/html.png" alt="html">
                    <img class="skill__image" src="./images/other/css.png" alt="css">
                    <img class="skill__image" src="./images/other/js.png" alt="js">
                </div>
                <button class="skill__button skill__button---desktop">Смотреть работы</button>
            </div>
        </div>
        <button class="skill__button skill__button---mobile">Смотреть работы</button>
    </div>
</section>