<section class="works">
    <div class="wrapper wrapper--works">
        <img class="work__circle1" src="./images/svg/circle1.svg" alt="circle">
        <img class="work__circle2" src="./images/svg/circle2.svg" alt="">
        <img class="work__comet work__comet--1" src="./images/other/comet2.png" alt="comet">
        <img class="work__comet work__comet--2" src="./images/other/comet2.png" alt="comet">
        <img class="work__planet" src="./images/other/planet6.png" alt="planet">
        <h2 class="title">РАБОТЫ</h2>
        <div class="works__box">
            <img class="works__image" src="./images/other/work1.jpg" alt="work">
            <img class="works__image" src="./images/other/work2.jpg" alt="work">
            <img class="works__image" src="./images/other/work3.jpg" alt="work">
        </div>
    </div>
</section>